 <div class="container">
    
 	<div class="row justify-content-center">
    <div class="col-9" *ngFor ="let match of matches;">
    	<div class="match">
    	<div class="realTimeMensage">
			<i class="far fa-clock"></i>
    		Siga em tempo real
    	</div>
    	{{match.teamA.name}} {{match.teamA.score}} X {{match.teamB.score}} {{match.teamB.name}}
    	<button type="button" class="btn btn-success Acompanhar"  (click)="viewMatch(match)">>Acompanhar</button>
    	</div>
    </div>
 	</div>

 </div>
