 <div class="container">
 	<div class="row justify-content-center">
    <div class="col-9" *ngFor ="let match of matches; index as i">
    	<div class="match">
    	<div class="realTimeMensage">
			<i class="far fa-clock"></i>
    		Siga em tempo real
    	</div>
    	{{match.teamA.name}} {{match.teamA.score}} X {{match.teamB.score}} {{match.teamB.name}}
    	<button type="button" class="btn btn-primary Acompanhar"   data-toggle="collapse" [attr.data-target]="'#match' + i" aria-expanded="false" aria-controls="collapseMatch">Gerenciar</button>
        </div>
        <br>
        <div class="collapse" [attr.id]="'match' + i">
          <div class="card card-body">
            <span class="placar">Placar</span>
            <div class="row">
            <div class="col-md-1 flex-box">    
              {{match.teamA.abbr}}
            </div>
            <div class="col-md-3">    
              <input type="number" class="form-control" placeholder="" aria-label="teamA" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 flex-box">    
              {{match.teamB.abbr}}
            </div>
            <div class="col-md-3">    
              <input type="number" class="form-control" placeholder="" aria-label="teamA" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col align-self-center">
                <button type="button" class="btn btn-success">Atualizar Placar</button>
          </div>
          </div>
        </div>
    </div>
 	</div>

 </div>
