.header{
	background-color: #6AC645;
}

.linha{
	background-color: #34980C;
	height: 5px;
}

.realTimeMensage{
	margin-top: 0px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	background-color: #4CAD25;
	font-size: 17px;
	margin-bottom: 40px;
	color: #fff;
}

.match{
	box-shadow: 5px 5px 10px #7D807B;
	-webkit-box-shadow: 5px 5px 10px #7D807B;
	-moz-box-shadow: 5px 5px 10px #7D807B;
	border-radius: 7px;
	border-width: 2px;
	border-color: #7D807B;
	padding-bottom: 40px;
	margin-top: 30px;
	font-size: 30px;
  	font-weight: bold;
}

.Acompanhar{
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold;
}

