	<div class="container">
	<div class="row">
		<div class="col-sm-3 live">
			<div class="circle_ao_vivo"></div>
			Ao Vivo
		</div>
		<div *ngFor = "let matchLive of matches" class="col-sm-3 matches">
				<div class="row justify-content-md-center">
				{{matchLive.championship.abbr}}
				</div>
				<div class="row justify-content-md-width scoreboard">
				{{matchLive.teamA.abbr}}
				{{matchLive.teamA.score}}
				</div>
				<div class="row justify-content-md-width scoreboard">
				{{matchLive.teamB.abbr}}
				{{matchLive.teamB.score}}
				</div>
			</div>
	</div>
</div>

	<div class="scoreboardMatch">
		<div class="container resultMatch">
			<label class="row championship">
				{{match.championship.name}}
			</label>
			<label class="teamName">
				{{match.teamA.name}}
			</label>
			<img class="shield" src="./../../assets/images/escudos/{{this.match.teamA.badge}}">
			<label class="teamScore">
				{{match.teamA.score}}
				X
			</label>
			<label class="teamScore">
				{{match.teamB.score}}
			</label>
			<img class="shield" src="./../../assets/images/escudos/{{this.match.teamB.badge}}">
			<label class="teamName">
				{{match.teamB.name}}
			</label>
		
		</div>
	</div>

	<div class="contentVideos">
		<div class="row">
		<label class="nameVideo">LANCE A LANCE</label>
		</div>
		<hr>
		<div class="row">
		<div class="col-md-7">
		<div *ngFor="let throw of match.bids" class="row">
			
			<div class="col-sm-3 timeMove">
				<div class="circle">
				</div>
				<label class="time">{{throw.time}}'</label>
				<label class="half">{{throw.half}}° TEMPO</label>
			</div>
			
			<div class="col-sm-8 informations">
				<div class="row">
					<label class="team">{{throw.team}}</label>
				</div>
				<div class="row">
					<label class="subject">{{throw.subject}}</label>
				</div>
				<div class="row">
					<label class="description">{{throw.description}}</label>
				</div>
			</div>
		</div>
		</div>
		<div class="col-md-5">
			<div class="card">
			  <div class="card-header">
			   <label class="fichaTec"> Ficha Técnica </label>
			  </div>
			  <div class="card-body">
			    <div class="row card-teams">
				    <label class="card-title">{{match.teamA.abbr}} </label>
					<img class="shield_token" src="./../../assets/images/escudos/{{this.match.teamA.badge}}">
					<img class="shield_token" src="./../../assets/images/escudos/{{this.match.teamB.badge}}">
				    <label class="card-title">{{match.teamB.abbr}}</label>
				</div>
			    	<div class="row">
			    		<div class="col-md-6">
			    			<div class="players_a" *ngFor="let players_a of match.teamA.players">
				    			<label class="name_player_a">{{players_a.name}}</label>
				    			<label class="player_a_position">{{players_a.pos}}</label>
			    			</div>
			    		</div>
			    		<div  class="col-md-6">
			    			<div class="players_b" *ngFor="let players_b of match.teamB.players">
				    		<label class="player_b_position">{{players_b.pos}}</label>
			    			<label class=" name_player_b">{{players_b.name}}</label>
			    		</div>
			    		</div>
			    	</div>
			  </div>
			</div>
		</div>
	</div>
	</div>

	<div class="container credits">
		<!-- <div class="row"> -->
		<label class="name_credits">Este curso tem como base o Mini Curso Gratuito de Socket.IO disponibilizado pela <a href="https://www.devpleno.com/">DevPleno.com</a></label>
		<!-- </div> -->
		<div class="row">
		<img src="./../../assets/images/LOGO-DEVPLENO.png" class="rounded mx-auto d-block" alt="...">
		</div>
	</div>
	

